#logo{
    float: left; 
}

#mainHeader{
    text-align: center;
    background-color: white
    
    color: black;
    padding: 10px;
    font-family: sans-serif;
}
#deckPic{
    height: 950px;
    width: 1850px;
}
body{
    background-color
